* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-size: 100%;
  line-height: 1.3125em;
  font-family: 'Libre Baskerville', serif; }

img {
  display: block; }

a {
  color: #b4314d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#container {
  width: 954px;
  padding: 36px 10px;
  margin: 0 auto; }

#masthead {
  width: 224px;
  height: 70px;
  background: url("../images/CHMW_logo_trim_resized.jpg") top left no-repeat; }
  #masthead h1 {
    position: absolute;
    left: -3000000000px; }

#nav {
  width: 100%;
  margin-top: 59px;
  border-bottom: 7px solid #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: .875em; }
  #nav ul {
    list-style: none;
    height: 14px;
    padding: 17px 0; }
    #nav ul a {
      color: #000;
      text-decoration: none; }
      #nav ul a:hover {
        color: #b4314d;
        text-decoration: underline; }

.content {
  padding-top: 55px; }
  .content p {
    font-size: .875em;
    padding-bottom: 1.3125em; }
  .content h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 2em;
    line-height: 1.2em; }
  .content h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: .75em;
    padding-top: 15px;
    line-height: 1.3125em; }
  .content .banner_image {
    padding-bottom: 55px; }
    .content .banner_image img {
      width: 100%;
      height: auto; }
  .content .left_column {
    width: 224px;
    float: left; }
  .content .right_column {
    width: 470px;
    margin: 0 220px 0 40px;
    float: right; }

#footer {
  border-top: 7px solid #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: .875em;
  height: 14px;
  padding: 17px 0; }
  #footer a {
    color: #000;
    text-decoration: none; }
    #footer a:hover {
      color: #b4314d;
      text-decoration: underline; }
